.host-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin: 96px 0;
}

.host-container .host-box {
    padding: 40px 48px;
    width: 240px;
    height: calc(400px - 5vw);
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #DBFAAD, #FED8AD);
}

.host-container .host-box:nth-child(1) {
    background: linear-gradient(-135deg, #DBFAAD, #FED8AD);
}

.host-container .host-box .host-portrait {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.host-container .host-box .host-portrait .portrait-img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
}

.host-container .host-box .host-portrait .portrait-img--default {
    transform: translate(0, 10%);
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.host-container .host-box .host-detail {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.host-container .host-box .host-detail .host-text-name {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    color: rgba(0, 0, 0, 0.8);
}

.host-container .host-box .host-detail .host-text-desc {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
}

/* ---------- mobile-large ---------- */
@media screen and (max-width: 1024px) {

    .host-container {
        flex-direction: column;
        gap: 32px;
    }

    .host-container .host-box {
        width: 200px;
        height: 272px;
        min-height: 0;
        padding: 32px 40px;
        justify-content: center;
    }

    .host-container .host-box .host-detail {
        margin-top: 24px;
    }

    .host-container .host-box .host-detail .host-text-name {
        font-size: 1rem;
    }

    .host-container .host-box .host-portrait {
        height: 120px;
        width: 120px;
    }

}

/* ---------- mobile-middle ---------- */
@media screen and (max-width: 620px) {
    .host-container {
        margin: 48px 0;
    }

    .host-container .host-box .host-detail {
        margin-top: 24px;
        gap: 5px;
    }

    .host-container .host-box {
        padding: 16px 19.2px;
        height: 240px;
    }

    .host-container .host-box .host-portrait {
        height: 92px;
        width: 92px;
    }

    .host-container .host-box .host-detail .host-text-name {
        font-size: 0.9rem;
        letter-spacing: 0.02rem;
    }

    .host-container .host-box .host-detail .host-text-desc {
        font-size: 0.8rem;
    }
}

/* ---------- mobile-small ---------- */
@media screen and (max-width: 315px) {

    .host-container {
        margin: 32px 0;
    }

    .host-container .host-box .host-portrait {
        height: 84px;
        width: 84px;
    }

    .host-container .host-box {
        width: 150px;
        padding: 16px;
    }

    .host-container .host-box .host-detail .host-text-name {
        font-size: 0.8rem;
    }

    .host-container .host-box .host-detail .host-text-desc {
        font-size: 0.8rem;
    }
}