.theme-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/* theme-body */
#theme-body {
  padding: 0 20px;
}

#theme-body p {
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.04rem;
}

/* theme-title */
.theme-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.theme-title h2 {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
}

/* theme-banner */
#theme-banner {
  /* background: linear-gradient(45deg, #211639, #192d5b); */
  width: 100%;
  height: 50vh;
  min-height: 300px;
  position: relative;
}

.theme-banner-background {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#theme-banner h1 {
  position: absolute;
  top: 50%;
  left: calc(50% - 8.3rem);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  font-weight: 600;
  /* letter-spacing: 0.1rem; */
}

#theme-banner div>a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  text-decoration: none;

  width: 18rem;
  box-sizing: border-box;
  padding: 0.6rem 0.5rem;
  position: absolute;
  top: calc(50% + 70px);
  left: calc(50% - 9rem);
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

#theme-banner div>a:visited {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.04rem;
  text-decoration: none;
}

#theme-banner div:hover {
  cursor: pointer;
}

.theme-banner-logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 60px);
}

#theme-divider {
  background-color: #41b883;
  height: 15px;
  width: 100%;
  margin-bottom: 20px;
  transform: translateY(-10px);
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
}

.theme-bottom {
  padding: 10px 0;
  /* padding: 40px 0; */
  height: 30vh;
  width: 100%;
}

.theme-bottom-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.theme-bottom-slogan {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(0, -15px);
  font-size: 0.9rem;
  font-weight: 300;
}

.theme-bottom-img--mobile {
  display: none;
}

/* 平板 */
@media screen and (max-width: 960px) {

  /* theme-banner */
  #theme-banner {
    height: 36vh;
    min-height: 300px;
    position: relative;
  }

  /* theme-banner */
  #theme-banner h1 {
    font-size: 1.2rem;
    left: calc(50% - 6.5rem);
  }

  /* theme-logo */
  .theme-banner-logo {
    width: 108px;
    height: 108px;
    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 54px);
  }

  .theme-bottom {
    padding: 0;
  }

  .theme-bottom-img {
    display: none;
  }

  .theme-bottom-slogan {
    display: none;
  }

  .theme-bottom-img--mobile {
    display: inline;
    width: 100%;
    height: auto;
  }
}

/* 手机 */
@media screen and (max-width: 450px) {

  /* theme-banner */
  #theme-banner {
    height: 100vw;
    min-height: 300px;
    position: relative;
  }

  #theme-banner div>a {
    font-size: 0.7rem;
    width: 14rem;
    padding: 0.6rem 0.5rem;
    left: calc(50% - 7rem);
  }

  #theme-banner div>a:visited {
    font-size: 0.7rem;
  }

  /* theme-title */

  .theme-title h2 {
    font-size: 0.9rem;
  }

  /* theme-body */
  #theme-body {
    padding: 0 20px;
  }

  #theme-body p {
    font-size: 0.8rem;
  }

  .theme-bottom {
    padding-top: 20px;
  }
}