.theme-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

#theme-banner {
  position: relative;
}

.banner-background-img {
  object-fit: cover;
  width: 100%;
  min-height: 450px;
  height: 50vh;
}

.banner-container {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 85%;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 270px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.banner-container h1 {
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
  color: #333366;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
}

.banner-container h5 {
  position: absolute;
  top: 54%;
  width: 100%;
  text-align: center;
  color: #333366;
  font-size: 1rem;
  font-weight: 400;
  /* letter-spacing: 0.1rem; */
}

.banner-container div>a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.06rem;
  text-decoration: none;

  width: 360px;
  box-sizing: border-box;
  padding: 0.6rem 1rem;
  position: absolute;
  top: 70%;
  left: calc(50% - 180px);
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.banner-container div>a:visited {
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.04rem;
  text-decoration: none;
}

.banner-container div:hover {
  cursor: pointer;
}

.banner-logo {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 23%;
  left: calc(50% - 55px);
}

/* theme-body */
#theme-body {
  background: linear-gradient(to top, #5299CE 20%, #FFFFFF 50%);
  position: relative;
  padding-bottom: 10vh;
}

.body-divider-back {
  transform: translateY(-1rem);
  background-color: #41b883;
  height: 18px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.body-divider {
  transform: translateY(-1rem);
  background-color: #41b883;
  height: 18px;
  width: 70%;
  left: 15%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 99;
  top: 0;
}

.body-container {
  transform: translateY(-1rem);
  width: 70%;
  margin: 0 auto;
  position: relative;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  height: calc(60rem + 50vw);
  overflow: hidden;
}

.body-top-img {
  position: absolute;
  z-index: 1;
  width: 110%;
  height: auto;
  top: -7rem;
  right: -1rem;
}

.body-bottom-img {
  position: absolute;
  z-index: 1;
  width: 135%;
  height: 40vw;
  bottom: 0;
  left: -35%;
}

.body-box {
  width: 100%;
  padding: 2rem 5rem;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
}

.body-box-time-icon {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 1rem;
  transform: translateY(0.2rem);
}


.body-box p {
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: rgba(0, 0, 0, 0.6);
}

.body-box h2 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 3rem 0;
}

.body-box-code {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-box-code-img {
  width: 70%;
  height: auto;
}

.body-box-code-slogan {
  transform: translateY(-30%);
  font-size: 0.9rem;
  font-weight: 300;
}

.body-box-sponsor {
  z-index: 5;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vw;
  width: 100%;
}

.body-box-sponsor p {
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: rgba(0, 0, 0, 0.6);
}

.body-box-sponsor h2 {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 1rem 0;
}

/* 平板 */
@media screen and (max-width: 1024px) {

  .banner-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25%;
    left: calc(50% - 50px);
  }

  .banner-container h1 {
    font-size: 1.3rem;
  }

  .banner-container h5 {
    font-size: 1rem;
  }

  .banner-container div>a {
    font-size: 1rem;
    width: 320px;
    left: calc(50% - 160px);
  }

  .banner-container div>a:hover {
    font-size: 1rem;
  }

  .banner-container div>a:visited {
    font-size: 1rem;

  }

  .body-container {
    height: calc(50rem + 50vw)
  }

  .body-box p {
    font-size: 0.8rem;
  }

  .body-box h2 {
    font-size: 1rem;
    margin: 2.1rem 0;
  }

  .body-box-code-img {
    width: 100%;
  }

  .body-box-code-slogan {
    font-size: 0.7rem;
  }

  .body-box-sponsor p {
    font-size: 0.8rem;
  }

  .body-box-sponsor h2 {
    font-size: 1rem;
  }

}

/* 手机 */
@media screen and (max-width: 500px) {
  .banner-container h1 {
    font-size: 1rem;
    top: 42%;
  }

  .banner-container h5 {
    top: 48%;
    font-size: 0.7rem;
  }

  .banner-img {
    min-height: 180px;
  }

  .banner-container {
    width: 90%;
    left: 5%;
  }

  .body-divider {
    width: 90%;
    left: 5%;
    transform: translateY(-1rem);
  }

  .body-container {
    width: 90%;
    transform: translateY(-1rem);
    height: calc(38rem + 70vw)
  }

  .banner-background-img {
    height: 100vw;
    min-height: 300px;
  }

  .banner-container div>a {
    font-size: 0.8rem;
    width: 240px;
    left: calc(50% - 120px);
    padding: 0.4rem 0.6rem;
    top: 66%;

  }

  .banner-container div>a:visited {
    font-size: 0.8rem;
  }

  .banner-logo {
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: 18%;
  }

  .body-top-img {
    top: -2rem;
  }

  .body-box {
    width: 100%;
    padding: 1rem;
  }

  .body-box-time-icon {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.2rem;
    transform: translateY(0.05rem);
  }

  .body-box p {
    font-size: 0.7rem;
    letter-spacing: 0.02rem;
  }

  .body-box h2 {
    font-size: 0.7rem;
    margin: 1.5rem 0;
  }

  .body-box-sponsor {
    height: 55vw;
  }

  .body-box-sponsor p {
    font-size: 0.7rem;
  }

  .body-box-sponsor h2 {
    font-size: 0.7rem;
  }

  .body-bottom-img {
    height: auto;
  }
}

/* 小手机 */
@media screen and (max-width: 280px) {
  .banner-container h1 {
    font-size: 0.7rem;
    top: 42%;
    letter-spacing: 0;
  }

  .banner-container h5 {
    top: 48%;
    font-size: 0.7rem;
  }

  .theme-container {
    min-width: 240px;
  }


  .banner-container div>a {
    font-size: 0.8rem;
    width: 200px;
    left: calc(50% - 100px);
    padding: 0.4rem 0.6rem;
    top: 66%;
  }

  .banner-logo {
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    top: 18%;
  }
}