.partner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

.partner-container .partner-logo {
    height: 40px;
    width: auto;
    margin: 10px;
    flex-shrink: 0;
}

.partner-container .huodongx {
    height: 50px;
}

/* ---------- mobile-large ---------- */
@media screen and (max-width: 1065px) {
    .partner-container {
        margin: 0;
        gap: 22.5px;
    }

    .partner-container .partner-logo {
        height: 30px;
        margin: 7.5px;
    }

    .partner-container .huodongx {
        height: 40px;
    }
}

/* ---------- mobile-middle ---------- */
@media screen and (max-width: 620px) {
    .partner-container .partner-logo {
        height: 15px;
        width: auto;
        margin: 0 10px;
        flex-shrink: 0;
    }

    .partner-container .huodongx {
        height: 25px;
    }
}