.sponser-container {
    display: flex;
    justify-content: center;
}

.sponser-container .sponser-logo {
    height: 40px;
    width: auto;
}

/* ---------- mobile-large ---------- */
@media screen and (max-width: 1065px) {
    .sponser-container .sponser-logo {
        height: 25px;
    }
}

/* ---------- mobile-middle ---------- */
@media screen and (max-width: 620px) {
    .sponser-container .sponser-logo {
        height: 20px;
    }
}