.topic-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.topic-info-box {
    width: 40%;
    padding: 0 30px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.topic-info-box:last-child {
    border: 0;
}

.topic-info-box p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.topic-info-box div {
    margin: 15px 0;
}

.topic-info-box h1 {
    font-size: 1.5rem;
    margin: 5px 0;
    letter-spacing: 0.02rem;
    font-weight: 400;
}

.topic-info-box h3 {
    font-size: 1.1rem;
    margin: 5px 0;
    font-weight: 100;
    letter-spacing: 0.04rem;
}

/* 平板 */
@media screen and (max-width: 1024px) {
    .topic-container {
        flex-direction: column;
        width: 80%;
        align-items: center;
    }

    .topic-info-box {
        width: 100%;
        padding: 30px 15%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 0;
    }

    .topic-info-box:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

/* 手机 */
@media screen and (max-width: 750px) {
    .topic-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .topic-info-box {
        width: auto;
        padding: 30px 0;
    }

    .topic-info-box p {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .topic-info-box h1 {
        font-size: 1.1rem;
        margin: 5px 0;
    }

    .topic-info-box h3 {
        font-size: 0.8rem;
        margin: 5px 0;
    }

    .topic-divider {
        margin: 30px 0;
        height: 1px;
        width: 100%;
    }
}