.topic-container {}

.topic-info-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 240px;
    margin: 4px 0;
}

.topic-info-box .topic-host-portrait {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.topic-info-box .topic-process {
    height: 240px;
    width: 16px;
    margin: 0 40px;
    position: relative;
}

.topic-info-box .topic-process .process-previous {
    position: absolute;
    top: 0;
    width: 7px;
    height: 120px;
    border-right: 2px dashed #69C5F6;
}

.topic-info-box .topic-process .process-node {
    position: absolute;
    top: 112px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #69C5F6;
}

.topic-info-box .topic-process .process-next {
    position: absolute;
    bottom: 0;
    width: 7px;
    height: 120px;
    border-right: 2px dashed #69C5F6;
}

.topic-info-box .topic-detail-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 240px;
    width: 32vw;
    max-width: 680px;
}

.topic-info-box .topic-detail-box .topic-title-flex {
    display: flex;
    align-items: flex-end;
    height: 133px;
}

.topic-info-box .topic-detail-box .topic-title-flex h3 {
    font-size: 1.2rem;
    margin: 0 20px 0 0;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: #0066CC;
}

.topic-info-box .topic-detail-box .topic-title-flex h4 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.8);
    text-align: start;
}

.topic-info-box .topic-detail-box p {
    font-size: 0.9rem;
    margin: 0;
    font-weight: 100;
    text-align: start;
    letter-spacing: 0rem;
}

/* ---------- mobile-large ---------- */
@media screen and (max-width: 1065px) {

    .topic-info-box .topic-host-portrait {
        border-radius: 50%;
        width: 120px;
        height: 120px
    }

    .topic-info-box .topic-process {
        margin: 0 24px;
    }

    .topic-info-box .topic-detail-box {
        width: 65%;
    }

    .topic-info-box .topic-detail-box .topic-title-flex {
        flex-direction: column;
        align-items: flex-start;
        height: 133px;
        margin-top: 0;
        justify-content: flex-end;
    }

    .topic-info-box .topic-detail-box .topic-title-flex h3 {
        font-size: 1.1rem;
        margin: 0;
    }

    .topic-info-box .topic-detail-box .topic-title-flex h4 {
        font-size: 1.1rem;
    }

    .topic-info-box .topic-detail-box p {
        margin-top: 3px;
    }
}

/* 手机 */
@media screen and (max-width: 620px) {

    .topic-container {
        margin-bottom: 0;
    }

    .topic-info-box {
        height: 140px;
        margin: 4px 0;
    }

    .topic-info-box .topic-detail-box {
        width: 60vw;
        height: 140px;
        min-width: 192px;
        gap: 0;
    }

    .topic-info-box .topic-host-portrait {
        display: none;
    }

    .topic-info-box .topic-process {
        height: 140px;
        width: 12px;
        margin: 0 30px 0 15px;
    }

    .topic-info-box .topic-process .process-previous {
        width: 5px;
        height: 70px;
    }

    .topic-info-box .topic-process .process-node {
        top: 64px;
        width: 12px;
        height: 12px;
    }

    .topic-info-box .topic-process .process-next {
        width: 5px;
        height: 70px;
    }

    .topic-info-box .topic-detail-box .topic-title-flex {
        height: 81px;
        margin-top: 0;
        justify-content: flex-end;
    }

    .topic-info-box .topic-detail-box .topic-title-flex h3 {
        font-size: 1rem;
    }

    .topic-info-box .topic-detail-box .topic-title-flex h4 {
        font-size: 0.9rem;
    }

    .topic-info-box .topic-detail-box p {
        font-size: 0.8rem;
    }
}